<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h5.mapper.LM4Mapper" >
  <resultMap id="BaseResultMap" type="com.h5.entity.LM4" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="drawid" property="drawid" jdbcType="NVARCHAR" />
    <result column="zodic6" property="zodic6" jdbcType="NVARCHAR" />
    <result column="zodic5" property="zodic5" jdbcType="NVARCHAR" />
    <result column="zodic4" property="zodic4" jdbcType="NVARCHAR" />
    <result column="zodic3" property="zodic3" jdbcType="NVARCHAR" />
    <result column="zodic" property="zodic" jdbcType="NVARCHAR" />
    <result column="zodic2" property="zodic2" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, drawid, zodic6, zodic5, zodic4, zodic3, zodic, zodic2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from L_M4
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from L_M4
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.h5.entity.LM4" >
    insert into L_M4 (drawid, zodic6,
      zodic5, zodic4, zodic3, 
      zodic, zodic2)
    values ( #{drawid,jdbcType=NVARCHAR}, #{zodic6,jdbcType=NVARCHAR},
      #{zodic5,jdbcType=NVARCHAR}, #{zodic4,jdbcType=NVARCHAR}, #{zodic3,jdbcType=NVARCHAR}, 
      #{zodic,jdbcType=NVARCHAR}, #{zodic2,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.h5.entity.LM4" >
    insert into L_M4
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="drawid != null" >
        drawid,
      </if>
      <if test="zodic6 != null" >
        zodic6,
      </if>
      <if test="zodic5 != null" >
        zodic5,
      </if>
      <if test="zodic4 != null" >
        zodic4,
      </if>
      <if test="zodic3 != null" >
        zodic3,
      </if>
      <if test="zodic != null" >
        zodic,
      </if>
      <if test="zodic2 != null" >
        zodic2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="drawid != null" >
        #{drawid,jdbcType=NVARCHAR},
      </if>
      <if test="zodic6 != null" >
        #{zodic6,jdbcType=NVARCHAR},
      </if>
      <if test="zodic5 != null" >
        #{zodic5,jdbcType=NVARCHAR},
      </if>
      <if test="zodic4 != null" >
        #{zodic4,jdbcType=NVARCHAR},
      </if>
      <if test="zodic3 != null" >
        #{zodic3,jdbcType=NVARCHAR},
      </if>
      <if test="zodic != null" >
        #{zodic,jdbcType=NVARCHAR},
      </if>
      <if test="zodic2 != null" >
        #{zodic2,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.h5.entity.LM4" >
    update L_M4
    <set >
      <if test="drawid != null" >
        drawid = #{drawid,jdbcType=NVARCHAR},
      </if>
      <if test="zodic6 != null" >
        zodic6 = #{zodic6,jdbcType=NVARCHAR},
      </if>
      <if test="zodic5 != null" >
        zodic5 = #{zodic5,jdbcType=NVARCHAR},
      </if>
      <if test="zodic4 != null" >
        zodic4 = #{zodic4,jdbcType=NVARCHAR},
      </if>
      <if test="zodic3 != null" >
        zodic3 = #{zodic3,jdbcType=NVARCHAR},
      </if>
      <if test="zodic != null" >
        zodic = #{zodic,jdbcType=NVARCHAR},
      </if>
      <if test="zodic2 != null" >
        zodic2 = #{zodic2,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h5.entity.LM4" >
    update L_M4
    set drawid = #{drawid,jdbcType=NVARCHAR},
      zodic6 = #{zodic6,jdbcType=NVARCHAR},
      zodic5 = #{zodic5,jdbcType=NVARCHAR},
      zodic4 = #{zodic4,jdbcType=NVARCHAR},
      zodic3 = #{zodic3,jdbcType=NVARCHAR},
      zodic = #{zodic,jdbcType=NVARCHAR},
      zodic2 = #{zodic2,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryList" resultType="com.h5.entity.LM4">
    select
    <include refid="Base_Column_List" />
    from L_M4
  </select>
</mapper>